<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dart.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, width=620, initial-scale=1">
  <script>hljs.initHighlightingOnLoad();</script>
  <style>

    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        font-family: 'Ubuntu', sans-serif;
        padding: 0px;
        margin: 0px;
        background-color: #23241f;
    }

    header {
        width: 100%;
        padding: 16px;
        color: white;
        font-size: 1.4em;
        background-color: black;
    }

    header .material-icons {
        position: relative;
        top: 4px;
        color: white;
        text-decoration: none;
        padding-right: 10px;
        padding-left: 16px;
    }

    header .material-icons:hover {
        text-decoration: underline;
    }

    .preview {
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .preview img {
        position: relative;
        top: -32px;
        box-shadow: 2px 2px black;
        width: 320px;
        border-radius: 5px;
        z-index: 3;
    }

    @media all and (max-width: 960px) {
        .preview {
            position: relative;
            width: 100%;
            padding: 16px 16px 0px 16px;
            text-align: center;
            top: 0px;
        }

        .preview img {
            top: 0px;
        }
    }

    pre {
      padding: 0px;
      margin: 0px 10px;
      z-index: 2;
      position:relative;
      margin-bottom: 40px;
    }

    code {
        font-family: "Ubuntu Mono", monospace;
        line-height: 110%;
    }

    .content {
        max-width: 960px;
        margin: 0 auto;
        position: relative;
    }

    .copyright {
        opacity: 0.5;
        position: fixed;
        bottom: 0px;
        margin: 0 auto;
        padding: 16px;
        color: white;
        font-weight: normal;
        z-index: 1;
    }

    .copyright a {
      color: white;
    }

  </style>
</head>
<body>
  <header>
      <div class="content">
      <a href="/" class="material-icons">
          arrow_back
      </a> {{info.title}}
      </div>
  </header>
  <div class="content">
      <div class="preview">
          <img src="https://storage.googleapis.com/planet-express/flutter_bucket/{{env.REVISION}}/Pixel2-26-en-portrait/artifacts/{{id}}.jpg" />
      </div>
      <pre><code class="dart">
{{contents}}
      </code></pre>
      <div class="copyright">
          Made by <a href="https://twitter.com/abeisgreat" target="_blank">@abeisgreat</a>
      </div>
  </div>
</body>
</html>
