---
title: Page Title lol
layout: code.hbs
load_json: list.json
---
<!--{{#each data.links}}-->
  <!--<div link>-->
    <!--[{{this.title}}]({{this.link}}) <span darker-grey underline>({{this.site}})</span> <span lighter-grey>added by <a href="https://twitter.com/{{this.added_by}}">{{this.added_by}}</a></span>-->
  <!--</div>-->
<!--{{/each}}-->